HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.project
/.settings/
/.idea
/.vscode/
/deploy
/target
/build/
**/node
**/dist
**/package-lock.json
**/node_modules
**/jsdoc
**/target
**/.DS_Store
/**/.idea
*.iml
out/
/src/main/webapp/lib/js/**/*.js
/src/main/webapp/lib/js/**/*.map
/src/main/webapp/lib/css/**/*.css
/thrift/src/main/thrift/gen-java
*.zip

**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/pids
**/*.pid
**/*.seed
**/*.pid.lock
**/lib-cov
**/coverage
**/*.lcov
**/.nyc_output
**/.grunt
**/bower_components
**/.lock-wscript
**/build/Release
**/node_modules/
**/jspm_packages/
**/typings/
**/*.tsbuildinfo
**/.npm
**/.eslintcache
**/.rpt2_cache/
**/.rts2_cache_cjs/
**/.rts2_cache_es/
**/.rts2_cache_umd/
**/.node_repl_history
**/*.tgz
**/.yarn-integrity
**/.env
**/.env.test
**/.cache
**/.next
**/.nuxt
**/dist
**/.cache/
**/.vuepress/dist
**/.serverless/
**/.fusebox/
**/.dynamodb/
**/.tern-port

**/webstorm.config.js
**/*.md
**/postcss.config.js
**/.travis.yml
**/.prettierrc
**/.eslintrc.js
**/.env.preview
**/.env.development
**/.env
**/.editorconfig
**/.browserslistrc

**/.classpath
**/.project
**/.settings
/.git-credentials
/output/
/target/
/.mvn/
